.mat-card-avatar {
  img {
    width: inherit;
  }
}

.mat-card-image {
  height: 220px;
  margin: 0px -16px;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.center {
    text-align: center;
}

.zoom {
  zoom: 650%;
  margin: 20px 0;
}

mat-form-field {
  margin-left: 5px;
}

.mat-card-title {
  font-weight: 300;
}

.mat-card mat-card-content {
  padding: 10px;
}
