.mat-card-avatar {
  img {
    width: inherit;
  }
}

.mat-card-image {
  height: 220px;
  margin: 0px -16px;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.center {
    text-align: center;
}

.zoom {
  zoom: 700%;
  margin: calc(8vh - 41px) 0;
}

mat-form-field {
  margin-left: 5px;
}